<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>10</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-620</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 2</key>
      <dict>
        <key>position</key>
        <integer>-460</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>465</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>780</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <true/>
        <key>delta</key>
        <dict>
          <key>11</key>
          <integer>5</integer>
        </dict>
      </dict>
      <key>t: 2</key>
      <dict>
        <key>position</key>
        <integer>1100</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 3</key>
      <dict>
        <key>position</key>
        <integer>1410</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 4</key>
      <dict>
        <key>position</key>
        <integer>2040</integer>
        <key>width</key>
        <integer>20</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>158</key>
      <dict>
        <key>width</key>
        <integer>158</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>20</key>
          <integer>2</integer>
          <key>33</key>
          <integer>3</integer>
          <key>46</key>
          <integer>4</integer>
          <key>59</key>
          <integer>5</integer>
          <key>72</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>158</key>
      <dict>
        <key>width</key>
        <integer>158</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>20</key>
          <integer>2</integer>
          <key>33</key>
          <integer>3</integer>
          <key>46</key>
          <integer>4</integer>
          <key>59</key>
          <integer>5</integer>
          <key>72</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>CR</string>
    <string>space</string>
    <string>numbersign</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>uni00AD</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>Amacron</string>
    <string>amacron</string>
    <string>Abreve</string>
    <string>abreve</string>
    <string>Aogonek</string>
    <string>aogonek</string>
    <string>Cacute</string>
    <string>cacute</string>
    <string>Ccircumflex</string>
    <string>ccircumflex</string>
    <string>Cdotaccent</string>
    <string>cdotaccent</string>
    <string>Ccaron</string>
    <string>ccaron</string>
    <string>Dcaron</string>
    <string>dcaron</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>Emacron</string>
    <string>emacron</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Edotaccent</string>
    <string>edotaccent</string>
    <string>Eogonek</string>
    <string>eogonek</string>
    <string>Ecaron</string>
    <string>ecaron</string>
    <string>Gcircumflex</string>
    <string>gcircumflex</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>Gdotaccent</string>
    <string>gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>gcommaaccent</string>
    <string>Hcircumflex</string>
    <string>hcircumflex</string>
    <string>Hbar</string>
    <string>hbar</string>
    <string>Itilde</string>
    <string>itilde</string>
    <string>Imacron</string>
    <string>imacron</string>
    <string>Ibreve</string>
    <string>ibreve</string>
    <string>Iogonek</string>
    <string>iogonek</string>
    <string>Idotaccent</string>
    <string>dotlessi</string>
    <string>IJ</string>
    <string>ij</string>
    <string>Jcircumflex</string>
    <string>jcircumflex</string>
    <string>Kcommaaccent</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>Lacute</string>
    <string>lacute</string>
    <string>Lcommaaccent</string>
    <string>lcommaaccent</string>
    <string>Lcaron</string>
    <string>lcaron</string>
    <string>Ldot</string>
    <string>ldot</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Nacute</string>
    <string>nacute</string>
    <string>Ncommaaccent</string>
    <string>ncommaaccent</string>
    <string>Ncaron</string>
    <string>ncaron</string>
    <string>napostrophe</string>
    <string>Eng</string>
    <string>eng</string>
    <string>Omacron</string>
    <string>omacron</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Ohungarumlaut</string>
    <string>ohungarumlaut</string>
    <string>OE</string>
    <string>oe</string>
    <string>Racute</string>
    <string>racute</string>
    <string>Rcommaaccent</string>
    <string>rcommaaccent</string>
    <string>Rcaron</string>
    <string>rcaron</string>
    <string>Sacute</string>
    <string>sacute</string>
    <string>Scircumflex</string>
    <string>scircumflex</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Tcommaaccent</string>
    <string>tcommaaccent</string>
    <string>Tcaron</string>
    <string>tcaron</string>
    <string>Tbar</string>
    <string>tbar</string>
    <string>Utilde</string>
    <string>utilde</string>
    <string>Umacron</string>
    <string>umacron</string>
    <string>Ubreve</string>
    <string>ubreve</string>
    <string>Uring</string>
    <string>uring</string>
    <string>Uhungarumlaut</string>
    <string>uhungarumlaut</string>
    <string>Uogonek</string>
    <string>uogonek</string>
    <string>Wcircumflex</string>
    <string>wcircumflex</string>
    <string>Ycircumflex</string>
    <string>ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>zacute</string>
    <string>Zdotaccent</string>
    <string>zdotaccent</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>longs</string>
    <string>uni0191</string>
    <string>florin</string>
    <string>uni01CF</string>
    <string>uni01D0</string>
    <string>uni01D1</string>
    <string>uni01D2</string>
    <string>uni01D3</string>
    <string>uni01D4</string>
    <string>Gcaron</string>
    <string>gcaron</string>
    <string>uni01E8</string>
    <string>uni01E9</string>
    <string>uni01F8</string>
    <string>uni01F9</string>
    <string>AEacute</string>
    <string>aeacute</string>
    <string>Oslashacute</string>
    <string>oslashacute</string>
    <string>Scommaaccent</string>
    <string>scommaaccent</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>uni0226</string>
    <string>uni0227</string>
    <string>uni0232</string>
    <string>uni0233</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>uni0374</string>
    <string>uni0375</string>
    <string>uni037E</string>
    <string>tonos</string>
    <string>dieresistonos</string>
    <string>Alphatonos</string>
    <string>anoteleia</string>
    <string>Epsilontonos</string>
    <string>Etatonos</string>
    <string>Iotatonos</string>
    <string>Omicrontonos</string>
    <string>Upsilontonos</string>
    <string>Omegatonos</string>
    <string>iotadieresistonos</string>
    <string>Alpha</string>
    <string>Beta</string>
    <string>Gamma</string>
    <string>Epsilon</string>
    <string>Zeta</string>
    <string>Eta</string>
    <string>Theta</string>
    <string>Iota</string>
    <string>Kappa</string>
    <string>Lambda</string>
    <string>Mu</string>
    <string>Nu</string>
    <string>Xi</string>
    <string>Omicron</string>
    <string>Pi</string>
    <string>Rho</string>
    <string>Sigma</string>
    <string>Tau</string>
    <string>Upsilon</string>
    <string>Phi</string>
    <string>Chi</string>
    <string>Psi</string>
    <string>uni03A9</string>
    <string>Iotadieresis</string>
    <string>Upsilondieresis</string>
    <string>alphatonos</string>
    <string>epsilontonos</string>
    <string>etatonos</string>
    <string>iotatonos</string>
    <string>upsilondieresistonos</string>
    <string>alpha</string>
    <string>beta</string>
    <string>gamma</string>
    <string>delta</string>
    <string>epsilon</string>
    <string>zeta</string>
    <string>eta</string>
    <string>theta</string>
    <string>iota</string>
    <string>kappa</string>
    <string>lambda</string>
    <string>nu</string>
    <string>xi</string>
    <string>omicron</string>
    <string>pi</string>
    <string>rho</string>
    <string>sigma1</string>
    <string>sigma</string>
    <string>tau</string>
    <string>upsilon</string>
    <string>phi</string>
    <string>chi</string>
    <string>psi</string>
    <string>omega</string>
    <string>iotadieresis</string>
    <string>upsilondieresis</string>
    <string>omicrontonos</string>
    <string>upsilontonos</string>
    <string>omegatonos</string>
    <string>uni1E02</string>
    <string>uni1E03</string>
    <string>uni1E08</string>
    <string>uni1E09</string>
    <string>uni1E0A</string>
    <string>uni1E0B</string>
    <string>uni1E1E</string>
    <string>uni1E1F</string>
    <string>uni1E22</string>
    <string>uni1E23</string>
    <string>uni1E26</string>
    <string>uni1E27</string>
    <string>uni1E30</string>
    <string>uni1E31</string>
    <string>uni1E3E</string>
    <string>uni1E3F</string>
    <string>uni1E40</string>
    <string>uni1E41</string>
    <string>uni1E44</string>
    <string>uni1E45</string>
    <string>uni1E54</string>
    <string>uni1E55</string>
    <string>uni1E56</string>
    <string>uni1E57</string>
    <string>uni1E60</string>
    <string>uni1E61</string>
    <string>uni1E6A</string>
    <string>uni1E6B</string>
    <string>Wgrave</string>
    <string>wgrave</string>
    <string>Wacute</string>
    <string>wacute</string>
    <string>Wdieresis</string>
    <string>wdieresis</string>
    <string>uni1E86</string>
    <string>uni1E87</string>
    <string>uni1E8A</string>
    <string>uni1E8B</string>
    <string>uni1E8C</string>
    <string>uni1E8D</string>
    <string>uni1E8E</string>
    <string>uni1E8F</string>
    <string>uni1EBC</string>
    <string>uni1EBD</string>
    <string>Ygrave</string>
    <string>ygrave</string>
    <string>uni1EF8</string>
    <string>uni1EF9</string>
    <string>endash</string>
    <string>emdash</string>
    <string>afii00208</string>
    <string>uni2016</string>
    <string>underscoredbl</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>onedotenleader</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>exclamdbl</string>
    <string>uni203E</string>
    <string>fraction</string>
    <string>zerosuperior</string>
    <string>foursuperior</string>
    <string>fivesuperior</string>
    <string>sixsuperior</string>
    <string>sevensuperior</string>
    <string>eightsuperior</string>
    <string>ninesuperior</string>
    <string>uni207A</string>
    <string>uni207B</string>
    <string>uni207C</string>
    <string>parenleftsuperior</string>
    <string>parenrightsuperior</string>
    <string>nsuperior</string>
    <string>zeroinferior</string>
    <string>oneinferior</string>
    <string>twoinferior</string>
    <string>threeinferior</string>
    <string>fourinferior</string>
    <string>fiveinferior</string>
    <string>sixinferior</string>
    <string>seveninferior</string>
    <string>eightinferior</string>
    <string>nineinferior</string>
    <string>uni208A</string>
    <string>uni208B</string>
    <string>uni208C</string>
    <string>parenleftinferior</string>
    <string>parenrightinferior</string>
    <string>franc</string>
    <string>lira</string>
    <string>peseta</string>
    <string>Euro</string>
    <string>afii61248</string>
    <string>uni2106</string>
    <string>trademark</string>
    <string>Omega</string>
    <string>estimated</string>
    <string>uni2141</string>
    <string>onethird</string>
    <string>twothirds</string>
    <string>uni2155</string>
    <string>uni2156</string>
    <string>uni2157</string>
    <string>uni2158</string>
    <string>uni2159</string>
    <string>uni215A</string>
    <string>oneeighth</string>
    <string>threeeighths</string>
    <string>fiveeighths</string>
    <string>seveneighths</string>
    <string>uni215F</string>
    <string>arrowleft</string>
    <string>arrowup</string>
    <string>arrowright</string>
    <string>arrowdown</string>
    <string>arrowboth</string>
    <string>arrowupdn</string>
    <string>uni21A4</string>
    <string>uni21A5</string>
    <string>uni21A6</string>
    <string>uni21A7</string>
    <string>arrowupdnbse</string>
    <string>uni21B0</string>
    <string>uni21B1</string>
    <string>uni21B2</string>
    <string>uni21B3</string>
    <string>uni21B4</string>
    <string>uni21BE</string>
    <string>uni21BF</string>
    <string>uni21C2</string>
    <string>uni21C3</string>
    <string>uni21C5</string>
    <string>uni21C8</string>
    <string>partialdiff</string>
    <string>Delta</string>
    <string>gradient</string>
    <string>product</string>
    <string>summation</string>
    <string>minus</string>
    <string>uni2215</string>
    <string>uni2219</string>
    <string>radical</string>
    <string>infinity</string>
    <string>intersection</string>
    <string>union</string>
    <string>integral</string>
    <string>therefore</string>
    <string>uni2235</string>
    <string>uni2236</string>
    <string>uni2237</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>equivalence</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>house</string>
    <string>revlogicalnot</string>
    <string>uni2318</string>
    <string>integraltp</string>
    <string>integralbt</string>
    <string>SF100000</string>
    <string>SF110000</string>
    <string>SF010000</string>
    <string>SF030000</string>
    <string>SF020000</string>
    <string>SF040000</string>
    <string>SF080000</string>
    <string>SF090000</string>
    <string>SF060000</string>
    <string>SF070000</string>
    <string>SF050000</string>
    <string>SF430000</string>
    <string>SF240000</string>
    <string>SF510000</string>
    <string>SF520000</string>
    <string>SF390000</string>
    <string>SF220000</string>
    <string>SF210000</string>
    <string>SF250000</string>
    <string>SF500000</string>
    <string>SF490000</string>
    <string>SF380000</string>
    <string>SF280000</string>
    <string>SF270000</string>
    <string>SF260000</string>
    <string>SF360000</string>
    <string>SF370000</string>
    <string>SF420000</string>
    <string>SF190000</string>
    <string>SF200000</string>
    <string>SF230000</string>
    <string>SF470000</string>
    <string>SF480000</string>
    <string>SF410000</string>
    <string>SF450000</string>
    <string>SF460000</string>
    <string>SF400000</string>
    <string>SF540000</string>
    <string>SF530000</string>
    <string>SF440000</string>
    <string>upblock</string>
    <string>dnblock</string>
    <string>block</string>
    <string>lfblock</string>
    <string>rtblock</string>
    <string>ltshade</string>
    <string>shade</string>
    <string>dkshade</string>
    <string>filledbox</string>
    <string>triagup</string>
    <string>triagrt</string>
    <string>triagdn</string>
    <string>triaglf</string>
    <string>lozenge</string>
    <string>circle</string>
    <string>H18533</string>
    <string>invbullet</string>
    <string>invcircle</string>
    <string>uni2639</string>
    <string>smileface</string>
    <string>invsmileface</string>
    <string>sun</string>
    <string>female</string>
    <string>male</string>
    <string>spade</string>
    <string>club</string>
    <string>heart</string>
    <string>diamond</string>
    <string>uni2669</string>
    <string>musicalnote</string>
    <string>musicalnotedbl</string>
    <string>uni2680</string>
    <string>uni2681</string>
    <string>uni2682</string>
    <string>uni2683</string>
    <string>uni2684</string>
    <string>uni2685</string>
    <string>f_f</string>
    <string>fi</string>
    <string>fl</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>s_t</string>
    <string>quotedbl</string>
    <string>exclam</string>
    <string>dollar</string>
  </array>
</dict>
</plist>
