<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Alpha</key>
  <string>A_lpha.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>Ccaron</key>
  <string>C_caron.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Ccircumflex</key>
  <string>C_circumflex.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Dcroat</key>
  <string>D_croat.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eng</key>
  <string>E_ng.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Gamma</key>
  <string>G_amma.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>H18533</key>
  <string>H_18533.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>IJ</key>
  <string>I_J_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lambda</key>
  <string>L_ambda.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Phi</key>
  <string>P_hi.glif</string>
  <key>Pi</key>
  <string>P_i.glif</string>
  <key>Psi</key>
  <string>P_si.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>SF010000</key>
  <string>S_F_010000.glif</string>
  <key>SF020000</key>
  <string>S_F_020000.glif</string>
  <key>SF030000</key>
  <string>S_F_030000.glif</string>
  <key>SF040000</key>
  <string>S_F_040000.glif</string>
  <key>SF050000</key>
  <string>S_F_050000.glif</string>
  <key>SF060000</key>
  <string>S_F_060000.glif</string>
  <key>SF070000</key>
  <string>S_F_070000.glif</string>
  <key>SF080000</key>
  <string>S_F_080000.glif</string>
  <key>SF090000</key>
  <string>S_F_090000.glif</string>
  <key>SF100000</key>
  <string>S_F_100000.glif</string>
  <key>SF110000</key>
  <string>S_F_110000.glif</string>
  <key>SF190000</key>
  <string>S_F_190000.glif</string>
  <key>SF200000</key>
  <string>S_F_200000.glif</string>
  <key>SF210000</key>
  <string>S_F_210000.glif</string>
  <key>SF220000</key>
  <string>S_F_220000.glif</string>
  <key>SF230000</key>
  <string>S_F_230000.glif</string>
  <key>SF240000</key>
  <string>S_F_240000.glif</string>
  <key>SF250000</key>
  <string>S_F_250000.glif</string>
  <key>SF260000</key>
  <string>S_F_260000.glif</string>
  <key>SF270000</key>
  <string>S_F_270000.glif</string>
  <key>SF280000</key>
  <string>S_F_280000.glif</string>
  <key>SF360000</key>
  <string>S_F_360000.glif</string>
  <key>SF370000</key>
  <string>S_F_370000.glif</string>
  <key>SF380000</key>
  <string>S_F_380000.glif</string>
  <key>SF390000</key>
  <string>S_F_390000.glif</string>
  <key>SF400000</key>
  <string>S_F_400000.glif</string>
  <key>SF410000</key>
  <string>S_F_410000.glif</string>
  <key>SF420000</key>
  <string>S_F_420000.glif</string>
  <key>SF430000</key>
  <string>S_F_430000.glif</string>
  <key>SF440000</key>
  <string>S_F_440000.glif</string>
  <key>SF450000</key>
  <string>S_F_450000.glif</string>
  <key>SF460000</key>
  <string>S_F_460000.glif</string>
  <key>SF470000</key>
  <string>S_F_470000.glif</string>
  <key>SF480000</key>
  <string>S_F_480000.glif</string>
  <key>SF490000</key>
  <string>S_F_490000.glif</string>
  <key>SF500000</key>
  <string>S_F_500000.glif</string>
  <key>SF510000</key>
  <string>S_F_510000.glif</string>
  <key>SF520000</key>
  <string>S_F_520000.glif</string>
  <key>SF530000</key>
  <string>S_F_530000.glif</string>
  <key>SF540000</key>
  <string>S_F_540000.glif</string>
  <key>Scedilla</key>
  <string>S_cedilla.glif</string>
  <key>Sigma</key>
  <string>S_igma.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tbar</key>
  <string>T_bar.glif</string>
  <key>Theta</key>
  <string>T_heta.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Xi</key>
  <string>X_i.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>afii00208</key>
  <string>afii00208.glif</string>
  <key>afii61248</key>
  <string>afii61248.glif</string>
  <key>alpha</key>
  <string>alpha.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>arrowboth</key>
  <string>arrowboth.glif</string>
  <key>arrowleft</key>
  <string>arrowleft.glif</string>
  <key>arrowup</key>
  <string>arrowup.glif</string>
  <key>arrowupdn</key>
  <string>arrowupdn.glif</string>
  <key>arrowupdnbse</key>
  <string>arrowupdnbse.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>beta</key>
  <string>beta.glif</string>
  <key>block</key>
  <string>block.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>chi</key>
  <string>chi.glif</string>
  <key>circle</key>
  <string>circle.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>club</key>
  <string>club.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>delta</key>
  <string>delta.glif</string>
  <key>diamond</key>
  <string>diamond.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresistonos</key>
  <string>dieresistonos.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dkshade</key>
  <string>dkshade.glif</string>
  <key>dnblock</key>
  <string>dnblock.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eightsuperior</key>
  <string>eightsuperior.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>epsilon</key>
  <string>epsilon.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>equivalence</key>
  <string>equivalence.glif</string>
  <key>estimated</key>
  <string>estimated.glif</string>
  <key>eta</key>
  <string>eta.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdbl</key>
  <string>exclamdbl.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>f_f</key>
  <string>f_f.glif</string>
  <key>f_f_i</key>
  <string>f_f_i.glif</string>
  <key>f_f_l</key>
  <string>f_f_l.glif</string>
  <key>female</key>
  <string>female.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>filledbox</key>
  <string>filledbox.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fivesuperior</key>
  <string>fivesuperior.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>franc</key>
  <string>franc.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gamma</key>
  <string>gamma.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>heart</key>
  <string>heart.glif</string>
  <key>house</key>
  <string>house.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>integralbt</key>
  <string>integralbt.glif</string>
  <key>integraltp</key>
  <string>integraltp.glif</string>
  <key>intersection</key>
  <string>intersection.glif</string>
  <key>invbullet</key>
  <string>invbullet.glif</string>
  <key>invcircle</key>
  <string>invcircle.glif</string>
  <key>invsmileface</key>
  <string>invsmileface.glif</string>
  <key>iota</key>
  <string>iota.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jcircumflex</key>
  <string>jcircumflex.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kappa</key>
  <string>kappa.glif</string>
  <key>kgreenlandic</key>
  <string>kgreenlandic.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lambda</key>
  <string>lambda.glif</string>
  <key>ldot</key>
  <string>ldot.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>lfblock</key>
  <string>lfblock.glif</string>
  <key>lira</key>
  <string>lira.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>longs</key>
  <string>longs.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>ltshade</key>
  <string>ltshade.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>male</key>
  <string>male.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>musicalnote</key>
  <string>musicalnote.glif</string>
  <key>musicalnotedbl</key>
  <string>musicalnotedbl.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>ninesuperior</key>
  <string>ninesuperior.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>nsuperior</key>
  <string>nsuperior.glif</string>
  <key>nu</key>
  <string>nu.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>omega</key>
  <string>omega.glif</string>
  <key>omicron</key>
  <string>omicron.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>onedotenleader</key>
  <string>onedotenleader.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>oslashacute</key>
  <string>oslashacute.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenleftinferior</key>
  <string>parenleftinferior.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>parenrightinferior</key>
  <string>parenrightinferior.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>peseta</key>
  <string>peseta.glif</string>
  <key>phi</key>
  <string>phi.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>psi</key>
  <string>psi.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>revlogicalnot</key>
  <string>revlogicalnot.glif</string>
  <key>rho</key>
  <string>rho.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>rtblock</key>
  <string>rtblock.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>s_t</key>
  <string>s_t.glif</string>
  <key>scedilla</key>
  <string>scedilla.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>sevensuperior</key>
  <string>sevensuperior.glif</string>
  <key>shade</key>
  <string>shade.glif</string>
  <key>sigma</key>
  <string>sigma.glif</string>
  <key>sigma1</key>
  <string>sigma1.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>sixsuperior</key>
  <string>sixsuperior.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>smileface</key>
  <string>smileface.glif</string>
  <key>spade</key>
  <string>spade.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>sun</key>
  <string>sun.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tau</key>
  <string>tau.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>therefore</key>
  <string>therefore.glif</string>
  <key>theta</key>
  <string>theta.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tonos</key>
  <string>tonos.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>triagrt</key>
  <string>triagrt.glif</string>
  <key>triagup</key>
  <string>triagup.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>underscoredbl</key>
  <string>underscoredbl.glif</string>
  <key>uni00AD</key>
  <string>uni00A_D_.glif</string>
  <key>uni0191</key>
  <string>uni0191.glif</string>
  <key>uni0374</key>
  <string>uni0374.glif</string>
  <key>uni0375</key>
  <string>uni0375.glif</string>
  <key>uni03A9</key>
  <string>uni03A_9.glif</string>
  <key>uni2016</key>
  <string>uni2016.glif</string>
  <key>uni203E</key>
  <string>uni203E_.glif</string>
  <key>uni207A</key>
  <string>uni207A_.glif</string>
  <key>uni207B</key>
  <string>uni207B_.glif</string>
  <key>uni207C</key>
  <string>uni207C_.glif</string>
  <key>uni208A</key>
  <string>uni208A_.glif</string>
  <key>uni208B</key>
  <string>uni208B_.glif</string>
  <key>uni208C</key>
  <string>uni208C_.glif</string>
  <key>uni2106</key>
  <string>uni2106.glif</string>
  <key>uni215F</key>
  <string>uni215F_.glif</string>
  <key>uni21A4</key>
  <string>uni21A_4.glif</string>
  <key>uni21A5</key>
  <string>uni21A_5.glif</string>
  <key>uni21B0</key>
  <string>uni21B_0.glif</string>
  <key>uni21B4</key>
  <string>uni21B_4.glif</string>
  <key>uni21BE</key>
  <string>uni21B_E_.glif</string>
  <key>uni21C5</key>
  <string>uni21C_5.glif</string>
  <key>uni21C8</key>
  <string>uni21C_8.glif</string>
  <key>uni2219</key>
  <string>uni2219.glif</string>
  <key>uni2236</key>
  <string>uni2236.glif</string>
  <key>uni2237</key>
  <string>uni2237.glif</string>
  <key>uni2318</key>
  <string>uni2318.glif</string>
  <key>uni2639</key>
  <string>uni2639.glif</string>
  <key>uni2669</key>
  <string>uni2669.glif</string>
  <key>uni2680</key>
  <string>uni2680.glif</string>
  <key>uni2681</key>
  <string>uni2681.glif</string>
  <key>uni2682</key>
  <string>uni2682.glif</string>
  <key>uni2683</key>
  <string>uni2683.glif</string>
  <key>uni2684</key>
  <string>uni2684.glif</string>
  <key>uni2685</key>
  <string>uni2685.glif</string>
  <key>union</key>
  <string>union.glif</string>
  <key>upblock</key>
  <string>upblock.glif</string>
  <key>upsilon</key>
  <string>upsilon.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>xi</key>
  <string>xi.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zerosuperior</key>
  <string>zerosuperior.glif</string>
  <key>zeta</key>
  <string>zeta.glif</string>
</dict>
</plist>
